<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/languages/">Back to Languages</a>
    <a href="/languages/<%=languages._id%>/edit">Edit</a>
    <h1><%=languages.name%> <%if (languages.isOOP) {%>
        <em>(OOP)</em>
        <% }%>
  </p></h1>
<p>
    <%=languages.details%>
    


    <form action="/languages/<%=languages._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= languages.name %></button>
      </form>
      
</body>
</html>